@using CI_platform.Entities.DataModels;
@using CI_pltform.Entities.ViewModels;
@model userProfileModel;

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutFullHeader.cshtml";
}

<link rel="stylesheet" href="~/css/VolunteerProfile.css" asp-append-version="true" />


<div class="row container mx-auto mt-5">
    <div class="col-lg-3 col-12">
        <div class="profile-div border">
            <div id="profile-pic">
                <img id="profileImage" src="/images/volunteer1.png" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center text-center ms-3">
                <p class="mt-4 ms-lg-0 ms-4 mb-2">@Model?.FirstName @Model?.LastName</p>
                <button class="border-0 bg-white mb-3" data-bs-toggle="modal" data-bs-target="#change-password">
                    <input type="file" class="d-none" asp-for="@Model.Avatar" />
                    <i class="bi bi-pencil-square"></i>
                    <small class="fw-normal">Change Password</small>
                </button>
                <div class="modal fade" id="change-password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div id="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Change Your Password</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="old-password">Old Password</label>
                                        <input type="password" class="form-control" id="old-password"
                                        placeholder="Enter old password">
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="new-password">New Password</label>
                                        <input type="password" class="form-control" id="new-password"
                                               placeholder="Enter new password">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="confirm-password">Confirm Password</label>
                                        <input type="password" class="form-control" id="confirm-password"
                                               placeholder="Enter password again">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn border" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn border-warning text-warning" onclick="ChangePassword()">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-12">
        <form asp-controller="User" asp-action="VolunteerProfile" method="post">
            <div class="basicInfo mb-5 mt-4 mt-lg-0">
                <h3 class="border-bottom pb-3 mb-3">Basic Information</h3>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="FirstName">First Name</label>
                            <input type="text" class="form-control" id="firstName"
                                   placeholder="Enter your FirstName" asp-for="@Model.FirstName" required>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName"
                                   placeholder="Enter your LastName" asp-for="@Model.LastName" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="EmployeeId">Employee Id</label>
                            <input type="text" class="form-control" id="employeeId"
                                   placeholder="Enter your Employee ID" asp-for="@Model.EmployeeId">
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="Manager">Manager</label>
                            <input type="text" class="form-control" id="managerDetail"
                                   placeholder="Enter your Manager Detail" value="@Model?.Manager">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="Title">Title</label>
                            <input type="text" class="form-control" id="userTitle"
                                   placeholder="Enter your Title" asp-for="@Model.Title">
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="Department">Department</label>
                            <input type="text" class="form-control" id="departmentDetail"
                                   placeholder="Enter your Department" asp-for="@Model.Department">
                        </div>
                    </div>
                </div>
                <div class="form-outline mb-sm-4 mb-3">
                    <label class="form-label" for="ProfileText">My Profile</label>
                    <textarea class="form-control" id="abt-my-profile" rows="5" placeholder="Enter your profile summary" asp-for="@Model.ProfileText" required></textarea>
                </div>
                <div class="form-outline mb-sm-4 mb-3">
                    <label class="form-label" for="WhyIVolunteer">Why I Volunteer?</label>
                    <textarea class="form-control" id="why-i-volunteer" rows="5" placeholder="Enter about Why are u Volunteered?" asp-for="@Model.WhyIVolunteer"></textarea>
                </div>
            </div>
            <div class="addressInfo mb-4">
                <h3 class="border-bottom pb-3 mb-3">Address Information</h3>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <label class="form-label" for="CountryId">Country</label>
                        <select asp-for="@Model.CountryId" class="form-select" value="" aria-label="Default select example" id="userCountry">
                            <option selected>Select Your Country</option>
                            @foreach (Country country in Model.Countries)
                            {
                                <option value="@country.CountryId">@country.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <label class="form-label" for="CityId">City</label>
                        <select asp-for="@Model.CityId" class="form-select" aria-label="Default select example" id="userCity">
                            <option selected>Select Your City</option>
                            @foreach (City city in Model.Cities)
                            {
                                <option value="@city.CityId">@city.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="professionalInfo mb-4">
                <h3 class="border-bottom pb-3 mb-3">professional Information</h3>
                <div class="row mb-4">
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <label class="form-label" for="Availibility">Availability</label>
                        <select class="form-select" value="" aria-label="Default select example" id="availability">
                            <option class="border-bottom" selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-4 mb-3">
                        <label class="form-label" for="LinkedInUrl">LinkedIn Url</label>
                        <input type="url" class="form-control" id="linkedInURL"
                               placeholder="Enter your linkedIn URL">
                    </div>
                </div>
            </div>
            <div class="mySkills mb-5">
                <h3 class="border-bottom pb-3 mb-3">My Skills</h3>
                <div class="border px-3 py-2 p mt-4 d-flex flex-column" id="selected-skills">
                    <div hidden>
                        <ul id="user-skills">
                            @foreach (var userSkills in Model.UserSkillList)
                            {
                                <li value="@userSkills.SkillId">@userSkills.Skill.SkillName</li>
                            }
                        </ul>
                    </div>
                </div>
                <a class="btn rounded-5 mt-3 border bg-white px-3" data-bs-toggle="modal" data-bs-target="#add-skills">Add Skills</a>
                <div class="modal fade" id="add-skills" tabindex="-1" aria-labelledby="e" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" id="modal-dialog">
                        <div class="modal-content">
                            <div id="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="">Add Your Skills</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <br />
                                        <div class="row">
                                            <div class="dual-list list-left col-lg-5 col-12">
                                                <div class="well text-right">
                                                    <div>
                                                        <h5 class="mb-2 mt-3 fw-bold border p-2 shadow-sm rounded">Available Skills</h5>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="input-group d-flex align-items-center position-relative">
                                                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                                                <i class="bi bi-search px-2 search-icon position-absolute"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="list-group w-100" id="available" multiple>
                                                        @foreach (Skill skillList in @Model.SkillsList)
                                                        {
                                                            <li class="list-group-item" value="@skillList.SkillId">@skillList.SkillName</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="list-arrows col-lg-1 col-12">
                                                <a class="btn btn-default btn-sm move-right">
                                                    <i class="bi bi-caret-right-fill"></i>
                                                </a>
                                                <a class="btn btn-default btn-sm move-left">
                                                    <i class="bi bi-caret-left-fill"></i>
                                                </a>
                                            </div>

                                            <div class="dual-list list-right col-lg-5 col-12">
                                                <div class="well">
                                                    <div>
                                                        <h5 class="mb-2 mt-3 fw-bold border p-2 shadow-sm rounded">Selected Skills</h5>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="input-group d-flex align-items-center position-relative">
                                                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                                                <i class="bi bi-search px-2 search-icon position-absolute"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="list-group w-100" id="selected" multiple>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn border " data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn border-warning text-warning " onclick="" id="save-skills">Save</button>
                                </div>
                            </div>
                            <div class="d-none w-100 text-center" id="volPageLoader">
                                <div class="spinner-border text-warning" role="status">
                                </div>
                                <p>Sending Mail...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mb-5">
                <button class="btn text-warning border-warning px-4 mb-5" style="border-radius: 50px;" type="submit">Save</button>

            </div>
        </form>
    </div>
</div>


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="~/js/VolunteerProfile.js"></script>