@model userVolunteerStoryModel

<link rel="stylesheet" href="~/css/VolunteeringStoryPage.css" asp-append-version="true" />

<div class="container" style="width: 85%; min-height:80vh;">

    <!--Top PART-->
    <div class="row mt-5">

        <!-- Container for the image gallery -->
        <div class="container-fluid px-0 col-lg-6 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 w-100 px-3">

                <!-- Full-width images with number text -->
                <div class="mySlides">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img1.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img11.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/img1.png">
                </div>

                <div class="mySlides">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png">
                </div>



                <!-- Thumbnail images -->
                <div class="row mt-4 position-relative " style="height:10%">
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png" style="width:100%" onclick="currentSlide(1)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img1.png" style="width:100%" onclick="currentSlide(2)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png" style="width:100%" onclick="currentSlide(3)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img11.png" style="width:100%" onclick="currentSlide(4)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/img1.png" style="width:100%" onclick="currentSlide(5)">
                    </div>
                    <div class="column mx-auto">
                        <img class="demo cursor" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png" style="width:100%" onclick="currentSlide(6)">

                    </div>
                </div>
            </div>
        </div>

        <!-- Data for image -->
        <div class="container-fluid col-lg-6 d-flex justify-content-center align-items-center" id="data">
            <div class="row">
                <div id="owner-img">
                    <img class="rounded-circle" height="50" width="50" src="@Model.UserOfStory.Avatar" />
                </div>

                <div class="owner-name--story-views d-flex justify-content-between align-items-center my-2 ms-2">
                    <span>@Model.UserOfStory.FirstName @Model.UserOfStory.LastName</span>
                    <span id="story-views">
                        <i class="bi bi-eye"></i>
                        <span>@Model.StoryDetails.Views Views</span>
                    </span>
                </div>

                <div class="my-2 mx-1">
                    @Model.UserOfStory.WhyIVolunteer
                </div>

                <div class="row story-detail-buttons mt-3 d-flex align-items-center">
                    <div class="col-md-7 col-sm-12 my-2">
                        <a class="btn" id="recommend-story" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-person-add"></i>&nbsp;Recommend to a co-worker</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div id="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Recommend this Mission</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @foreach (var item in Model.UserList)
                                            {
                                                <li class="form-check my-4 user-list">
                                                    <input class="form-check-input checkbox mx-4" type="checkbox" value="@item.UserId" id="@item.UserId">
                                                    <img class="rec-user-img me-2" src="@item.Avatar" alt="">
                                                    <label class="form-check-label" for="">@item.FirstName @item.LastName</label>
                                                </li>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-warning" onclick="recommendStory(@Model.StoryDetails.StoryId, @Model.StoryDetails.Views)">Send Mail</button>
                                        </div>
                                    </div>
                                    <center class="d-none h-25" id="divLoader">
                                        <div class="spinner-border text-warning" style="width: 10rem; height: 10rem; margin-top:15%;" role="status"></div>
                                        <div class="text-warning mt-5" style="font-weight : 200; margin-bottom : 15%">Processing!</div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 col-sm-12">
                        <a class="btn" id="open-mission" asp-action="volunteeringMissionPage" asp-controller="Pages" asp-route-id="@Model.StoryDetails.MissionId">Open Mission&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div class="story-title border-bottom mt-5">
        <p>@Model.StoryDetails.Title</p>

    </div>

    <div class="story-desc">
        <div class="mt-1 mb-5">
            @Html.Raw(@Model.StoryDetails.Description)
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/Carousel.js" asp-append-version="true"></script>
<script src="~/js/VolunteeringStoryPage.js" asp-append-version="true"></script>