@model adminUserDetails;

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="border-bottom">
        <h1 class="heading">User</h1>
    </div>
    <div class="d-flex justify-content-between mt-5 mb-4">
        <div class="input-group rounded position-relative search-bar">
            <input type="search" class="form-control rounded" placeholder="Search" id="search-bar" />
            <span class="search-icon"><i class="bi bi-search"></i></span>
        </div>
        <div>
            <a class="btn add-btn rounded-pill" asp-controller="Admin" asp-action="AdminAddUser">
                <i class="bi bi-plus"></i>
                <span>Add</span>
            </a>
        </div>
    </div>
    <div class="table-div">
        <table id="userTable" class="table">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>EmployeeId</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserLists)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.EmployeeId</td>
                        <td>@item.Department</td>
                        <td>
                            @if (@item.Status == 1)
                            {
                                <small class="text-success fs-6">Active</small>
                            }
                            else
                            {
                                <small class="text-danger fs-6">InActive</small>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.Status != 0)
                            {
                                <span>
                                    <a asp-controller="Admin" asp-action="EditUser" asp-route-uid="@item.UserId" class="btn border-0 bg-transparent edit-btn">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn border-0 bg-transparent del-btn" onclick="deleteAlertForUser(@item.UserId);">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var sort_col = $('#userTable').find("th:contains('Status')")[0].cellIndex;
        var dataTable = $('#userTable').DataTable({
            "pageLength": 5,
            "order": [[sort_col, 'asc']],
            pagingType: 'full_numbers',
            oLanguage: {
                oPaginate:
                {
                    sNext: '<i class="bi bi-chevron-right"></i>',
                    sPrevious: '<i class="bi bi-chevron-left"></i>',

                }
            },
            "language": {
                "paginate": {
                    "last": '<i class="bi bi-chevron-double-right"></i>',
                    "first": '<i class="bi bi-chevron-double-left"></i>'
                }
            }
        });
        $('#search-bar').keyup(function () {
            dataTable.search(this.value).draw();
        });
    });
</script>