@model adminMissionDetails;

@{
    ViewData["Title"] = "MissionDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <div class="border-bottom">
        <h1 class="heading">Mission</h1>
    </div>
    <div class="d-flex justify-content-between mt-5 mb-4">
        <div class="input-group rounded position-relative search-bar">
            <input type="search" class="form-control rounded" placeholder="Search" id="search-bar" />
            <span class="search-icon"><i class="bi bi-search"></i></span>
        </div>
        <div>
            <a class="btn add-btn rounded-pill" asp-controller="Admin" asp-action="AdminAddMission">
                <i class="bi bi-plus"></i>
                <span>Add</span>
            </a>
        </div>
    </div>
    <div class="table-div">
        <table id="missionTable" class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MissionLists)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.MissionType</td>
                        <td>@item.StartDate.Value.ToShortDateString()</td>
                        <td>@item.EndDate.Value.ToShortDateString()</td>
                        <td class="d-flex justify-content-center align-items-center">
                            <span>
                                <a class="btn border-0 bg-transparent edit-btn" asp-controller="Admin" asp-action="AdminEditMission" asp-route-missionId="@item.MissionId">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn border-0 bg-transparent del-btn" onclick="deleteAlertForMission(@item.MissionId);">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var dataTable = $('#missionTable').DataTable({
            "pageLength": 5,
            pagingType: 'full_numbers',
            oLanguage: {
                oPaginate:
                {
                    sNext: '<i class="bi bi-chevron-right"></i>',
                    sPrevious: '<i class="bi bi-chevron-left"></i>',

                }
            },
            "language": {
                "paginate": {
                    "last": '<i class="bi bi-chevron-double-right"></i>',
                    "first": '<i class="bi bi-chevron-double-left"></i>'
                }
            }
        });
        $('#search-bar').keyup(function () {
            dataTable.search(this.value).draw();
        });
    });
</script>