@model userStoryListModel

@{
    userPager pager = new userPager();

    int pageNo = 0;

    if (ViewBag.userPager != null)
    {
        pager = ViewBag.userPager;
        pageNo = pager.CurrentPage;
    }
}

<style>
    .page-link {
        color: #ffc107;
        border-color: #ffc107;
    }

        .page-link.active {
            color: white;
            border-color: #ffc107;
            background-color: #ffc107;
        }

        .page-link.disabled {
            color: #ffc107;
            border-color: #ffc107;
        }

    .pagination {
        --bs-pagination-hover-color: #ffffff;
        --bs-pagination-hover-bg: #ffc107;
        --bs-pagination-hover-border-color: #ffc107;
    }
</style>

@*Top Image and overlay Part*@
<div class="top-img-part justify-content-center">
    <div class="image-overlay d-flex justify-content-center align-items-center text-center flex-column mx-auto my-auto h-100">
        <p class="text-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,eiusmod tempor incididunt ut labore et dolore magna eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary px-4" id="share-story-button" style="width:max-content" asp-action="StoryAddPage" asp-controller="Story">Share Your Story <span class="ps-2">⟶</span></a>
        }
        else
        {
            <a class="btn btn-primary px-4" id="share-story-button" style="width:max-content" asp-action="Login" asp-controller="Home">Login to share your story</a>
        }
    </div>
</div>


<!-- Story List -->
<div class="container card-container mt-5 " style="max-width:100vw;">
    <div class="row ">
        @foreach (var story in Model.Stories)
        {
            var Views = @story.Views + 1;
            <div class="col-12 col-md-6 col-lg-4 align-items-stretch">
                <div class="card pb-3 align-items-stretch">
                    <div style="position: relative;" class="card-image-part">

                        @{
                            var media = story.StoryMedia.Where(m => m.Type != "video").FirstOrDefault();
                        }
                        @if (media != null)
                        {
                            <img class="card-img-top" id="mission-img" src="/StoryImages/@media.Path" alt="Card image cap">

                        }
                        else
                        {
                            <img class="card-img-top" id="mission-img" src="~/images/no_mission_story_image.png" alt="Card image cap">
                        }

                        <div class="hidden-overlay-button-area">

                            <a class="hidden-overlay-button text-decoration-none px-4 py-1" style="width:max-content" asp-controller="Story" asp-action="VolunteeringStoryPage" asp-route-storyId="@story.StoryId" asp-route-views="@Views">View Details<span class="ps-2">⟶</span></a>
                        </div>

                        <div>
                            <p class="d-inline px-2" id="missionTheme">@story.Mission.MissionTheme.Title</p>
                        </div>

                    </div>
                    <div class="card-body p-0" style="border-top:1px solid #dee2e6;">
                        <h5 class="card-title mt-3 px-3">@story.Title</h5>
                        <div class="card-text px-3 mb-1" style="font-size: 1em; color: #a8a8a8; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                            @Html.Raw(story.Description)
                        </div>
                        <div class="d-flex justify-content-between mt-2 px-3">
                            <div>
                                <img src="@story.User.Avatar" class="volunteer-img" />
                                <small>@story.User.FirstName @story.User.LastName</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Pagination -->
<div class="container-fluid mb-5">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center mt-5 px-5" id="pagination">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item mx-2">
                    <a class="page-link" onclick="loadStory(pg=1)"> &laquo; </a>
                </li>
                <li class="page-item mx-2">
                    <a class="page-link" onclick="loadStory(pg=@(pager.CurrentPage - 1))"> &lsaquo; </a>
                </li>
            }
            else
            {
                <li class="page-item mx-2">
                    <a class="page-link disabled"> &laquo; </a>
                </li>
                <li class="page-item mx-2">
                    <a class="page-link disabled"> &lsaquo; </a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item mx-2">
                    <a class="page-link @(pge == pager.CurrentPage ? "active" : "")" onclick="loadStory(pg=@pge)"> @pge </a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item mx-2">
                    <a class="page-link" onclick="loadStory(pg=@(pager.CurrentPage + 1)) "> &rsaquo; </a>
                </li>
                <li class="page-item mx-2">
                    <a class="page-link" onclick="loadStory(pg=@pager.TotalPages)"> &raquo; </a>
                </li>
            }
            else
            {
                <li class="page-item mx-2">
                    <a class="page-link disabled"> &rsaquo; </a>
                </li>
                <li class="page-item mx-2">
                    <a class="page-link disabled"> &raquo; </a>
                </li>
            }

        </ul>
    }
</div>
